.forum{
    height: 2000px;
    text-transform: uppercase;
}

.forum-button:hover{
    color:#0096FF ;
}

.forum-buttons{
    gap: 100px;
}

.forum-button{
    color: var(--text-color);
    border: none;
    background: none;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 20px;
    
}

.user-post-input{
    display: flex;
    flex-direction: column;
    
    width: 700px;
    gap: 3px;
    padding-top: 20px;
    padding-left: 550px;
    border: none;
}

.title-input{
    font-size: 20px;
    height: 30px;
    background-color: var(--primary-color);
    border: none;
}

.content-input{
    font-size: 20px;
    height: 100px;
    background-color: var(--primary-color);
}

.input-line{
    width: 700px;
    border-bottom: dotted ;
}

.post-confirmation{
    background-color: var(--primary-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
}