.App {
  text-align: center;
  background-image: linear-gradient(white,blue);
}


.dark-theme{
  --text-color:white;
  --background-color: darkgrey ;
  --background-image: linear-gradient(to bottom right,grey,black);
}

.light-theme{
  --text-color:black;
  --background-color: silver;
  --background-image: linear-gradient(to bottom right,white,#0F9FFF)
}

#App{
  background-image:var(--background-image);
  color: var(--text-color);
  text-align: center;
}
